.footer {
  background-color: #005b83;
  color: white;
  padding: 40px 80px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-left,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.7;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact p {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-contact a {
  color: #ffce00;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  background-color: #ffce00;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  font-size: 16px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  margin-top: 30px;
  font-size: 14px;
}

.footer-bottom a {
  color: #ffce00;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
